@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader.min.css";

.no-highlight {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none;   // Safari
  -khtml-user-select: none;    // Konquerer HTML
  -moz-user-select: none;      // Firefox
  -ms-user-select: none;       // IE/Edge
  user-select: none;           // Chrome/Opera
}

.button {
  transition: all 0.1s ease;
}

$link: #ffb3b3;
$info: #ffb3b3;
